name: CI

on:
  push:
    branches:
      - main
      - go
  pull_request:
    branches:
      - main
      - go

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: [1.25]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}

      - name: Test
        run: go test ./...

      - name: Build
        run: bash scripts/build.sh