name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up dependencies (Unix)
        if: runner.os != 'Windows'
        run: |
          if [ "$(uname)" == "Darwin" ]; then
            brew update
            brew install flex bison
          else
            sudo apt-get update
            sudo apt-get install -y build-essential flex bison
          fi
      
      - name: Set up dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
          Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
          scoop install winflexbison cmake

      - name: Build (Windows)
        if: runner.os == 'Windows'
        run: |
          cmake -S . -B build -G "Visual Studio 17 2022" -DFLEX_EXECUTABLE="C:\Users\runneradmin\scoop\shims\flex.exe"
          cmake --build build

      - name: Build (Unix)
        if: runner.os != 'Windows'
        run: |
          cmake -S . -B build
          cmake --build build